<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href= "/css/style.css" />
</head>
<body>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class=" container d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="card px-3">
                        <div class="card-body">
                            <h4 class="card-title">Your Todo List</h4>

                            <form action="/create" method="post">
                                <div class="add-items d-flex"> 
                                    <input type="text" name="name" class="form-control todo-list-input" placeholder="What do you need to do today?"> 
                                    <input type="submit" class="add btn btn-primary font-weight-bold todo-list-add-btn" value="Add" /> 
                                </div>
                            </form>
                            
                            <div class="list-wrapper">
                                <ul class="d-flex flex-column-reverse todo-list">
                                    {{#if fileresults}}
                                        {{#if fileresults.completed }}
                                                <li class="completed">
                                                    {{else}}
                                                <li>
                                                    {{/if}}
                                                    <div class="form-check" style="width: 80%;"> 
                                                        <label class="form-check-label"> 
                                                            {{!-- <form action=""> --}}
                                                                <input class="checkbox" type="checkbox"  name="completed" {{#if fileresults.completed  }} checked="" {{/if}}   >
                                                            {{!-- </form> --}}
                                                            <i class="input-helper"></i>
                                                            {{fileresults.name}}
                                                        </label> 
                                                    </div> 
                                                    <a class="todo-button" href="#" ><i class="remove mdi mdi-close-circle-outline"></i></a>
                                                </li>
                                    {{/if}}    
                                    {{#each results}}
                                            {{#each this}}
                                                {{#if this.completed }}
                                                <li class="completed">
                                                    {{else}}
                                                <li>
                                                    {{/if}}
                                                    <div class="form-check"> 
                                                        <label class="form-check-label"> 
                                                            {{!-- <form action=""> --}}
                                                                <input class="checkbox" type="checkbox"  name="completed" {{#if this.completed  }} checked="" {{/if}} onclick="update({{this.id}}, {{this.completed}})"  >
                                                            {{!-- </form> --}}
                                                            <i class="input-helper"></i>
                                                            {{this.name}}
                                                        </label> 
                                                    </div> 
                                                    <a class="todo-button" href="/delete/{{this.id}}" ><i class="remove mdi mdi-close-circle-outline"></i></a>
                                                    {{!-- <a  href="/update/{{this.id}}"><i class="fa fa-edit edit"></i></a> --}}
                                                </li>
                                            {{/each}}
                                        {{/each}}
                                    {{!-- {{/if}} --}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function update(id, val) {
            if( val ) window.location = '/update/' + id + '/' + 'false';
            else window.location = '/update/' + id + '/' + 'true';
        }
    </script>
</body>
</html>